# Supabase Configuration
VITE_SUPABASE_URL=https://ouqxhjnvsvqwlloyqdsl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91cXhoam52c3Zxd2xsb3lxZHNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMTA4NTQsImV4cCI6MjEwNDg4Njg1NH0.0_upzI9WwQj3GRb1ALDbWPMH_Y4cWuk5i9YTOzknhu0
